<app-header titulo="Moda y farandula" icono="people"> </app-header>

<ion-content>
  <app-card
    imagen="nike.jpg"
    subtitulo="€60.00 EUR*· Disponible"
    titulo="Virgil Abloh. Nike. ICONS"
    contenido="En su proyecto colaborativo The Ten, Nike y Virgil Abloh reunieron los mejores modelos (desde las Air Jordan 1 hasta las Air Presto), rediseñaron 10 iconos de las zapatillas y reinventaron la cultura sneaker. "
  >
  </app-card>
  <app-card
    imagen="nikeoff.jpg"
    subtitulo="€80.00 EUR*· Disponible"
    titulo="Virgil Abloh/Nike"
    contenido="zapatillas de deporte de Off-White."
  >
  </app-card>
  <app-content></app-content>
  
</ion-content>
