<app-header titulo="Noticias al dia" icono="albums">
</app-header>

<ion-content [fullscreen]="true">
  <app-card imagen="ucrania.jpg" subtitulo="Ofensiva de rusia en ucrania"  titulo="Zelenski pide más armas a EE UU ante la visita de Blinken a Kiev" contenido="Los secretarios de Estado y Defensa estadounidenses protagonizan la visita de más alto nivel de la Administración estadounidense desde el inicio de la invasión rusa hace dos meses"></app-card>
  <app-card imagen="davidvelez.jpg" subtitulo="De ser líder de un proyecto en el que pocos creían, pasó a convertirse en un ‘banquero disruptivo'. Esta es su historia. "  titulo="David Vélez, CEO de Nubank, el hombre de moda en las finanzas de Latam" contenido="CEO y fundador de Nubank deja entrever que no se siente como el líder de una entidad financiera, sino más bien a la cabeza de una empresa tecnológica. Algo que no deja de ser curioso, pues la compañía que dirige es hoy uno de los bancos digitales más grandes del mundo y su capitalización bursátil la ubica en la ‘mesa’ de los gigantes en este sector de todo el planeta."></app-card>
  <app-content></app-content>
</ion-content>
